@use "../abstracts/mixins" as *;
@use "../abstracts/themes" as *;

.btn {
  cursor: pointer;
  background: none;
  border: none;

  &-icon {
    @include min-squared(1.5rem);

    path {
      @include themify {
        fill: themed("text-label");
      }
    }
  }

  &-action {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 5rem;
    border-radius: 1rem;
    color: #fff;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.015);
    }

    &-positive {
      background-color: #10b981;
    }

    &-negative {
      background-color: #ef4444;
    }

    &-primary {
      width: 100%;
      background-color: #8b5cf6;
    }

    &-neutral {
      @include themify {
        background-color: themed("btn-neutral");
        color: themed("btn-neutral-text");
      }
    }
  }

  &-preview {
    @include flex-center();
    @include min-squared(3rem);

    background-color: #8b5cf6;
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &-img {
      @include min-squared(1.25rem);
    }
  }

  &-theme {
    position: relative;
    width: 5rem;
    height: 2.5rem;
    background-color: red;
    border-radius: 2rem;

    &[aria-checked="true"] {
      background: linear-gradient(45deg, #8b5cf6, #6d28d9);

      .btn-theme-toggle {
        transform: translate(calc(100% + 0.5rem), -50%);
      }
    }

    &[aria-checked="false"] {
      background: linear-gradient(45deg, #f59e0b, #fbbf24);

      .btn-theme-toggle {
        transform: translate(0, -50%);
      }
    }

    &-toggle {
      @include flex-center();

      position: absolute;
      background-color: #fff;
      border-radius: 2rem;
      width: 2rem;
      height: 2rem;
      top: 50%;
      left: 0.25rem;
      transition: transform 0.3s ease-in-out;

      &-icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}
