@use "../abstracts/themes" as *;
@use "../abstracts/mixins" as *;

.card {
  @include themify {
    background-color: themed("card");
  }

  padding: 2rem;
  border-radius: 1rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    @include mobile-font-size(1.75rem);
    font-size: 2rem;
  }

  &-main {
    border-radius: 0 0 1rem 1rem;
  }

  &-preview {
    .preview {
      margin-top: 2rem;
    }
  }
}
