@use "../abstracts/themes" as *;

.page-wrapper {
  @include themify(true) {
    background-color: themed("background");
    color: themed("text-main");
  }

  width: 100vw;
  min-height: 100vh;
}

.container {
  max-width: calc(1200px + 4rem);
  padding: 3rem 2rem;
  margin: 0 auto;
}
