@use "../abstracts/mixins" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 5rem;

  &-title {
    font-size: 2.25rem;
    font-weight: 900;

    @include mobile-font-size(2rem);
  }
}
