@use "../abstracts/themes" as *;

.main {
  @include themify {
    background-color: themed("card");
  }

  padding: 2rem;
  border-radius: 0 0 1rem 1rem;

  &-title {
    font-size: 2rem;
  }

  &-wrapper {
    margin-top: 5rem;
  }
}
